.a{
    color: #7f8a9f;
    margin-left: 300px;
    transform: translateY(130%);


}
*{
    margin: 0;
    padding: 0;
  }
  body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
    background: #08070f
  }
  form{
    width: 20%;
    margin: auto;
    margin-top: 100px;
    background: white;
    padding: 70px 0;
    background: #28272f;
overflow: hidden;
position: relative;
box-shadow: 4px 0 10px black,-4px 0 10px black,0 4px 10px black, 0 -4px black;
  }
  form h1{
text-align: center;
    padding: 10px;
    color: white;
    margin: 15px ;
   font-size: 30px;
    
  }

  .inpDiv{
    padding: 20px;
  }
  .inpDiv input{
    padding: 12px 0;
    width: 100%;
  background-color: white;
    border-radius: 5px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    outline: none;

  }

  #btnDiv{
    text-align: center;
    margin: 10px 0;
  }
  #btnDiv button{
    width: 90%;
    padding: 15px;
    color: white;
    border: 1px solid white
    ;
    font-size: 24px;
    background: white
    ;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    
  }


  .login{
    color: white;
    font-size: 25px;

  }
 .label{
     color: white;
 }
 
 .btnDiv1{
  text-align: center;
  
}
.btnDiv1 button{
  width: 43%;
  padding: 7px;
  color: white;
  border: 1px solid #626169
  ;
  font-size: 24px;
  background: #626169
  ;
  cursor: pointer;
  border-radius: 5px;
margin-right: 47%;
margin-top: 7%;
  
}
.btnDiv2{
  text-align: center;
  
}
.btnDiv2 button{
  width:43%;
  padding: 7px;
  color: white;
  border: 1px solid #626169
  ;
  font-size: 24px;
  background: #626169
  ;
  cursor: pointer;
  border-radius: 5px;
margin-left: 2%;
margin-top: -11.5%;
position: absolute;
  
}
.icon{
  font-size: 24px;
  color: white;
  margin-left: 3%;
  margin-top: 35px;
  position:absolute;
}
.icons{
  font-size: 24px;
  color: white;
  margin-left: 2%;
  margin-top: -13%;
  position:absolute;
}


